<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample08" aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar navbar-expand navbar-dark bg-dark" id="navbarsExample08">
    <ul class="nav navbar-nav">
      <li class="nav-item active">
        <a class="navbar-brand" href="#">Point Of Sale <span class="sr-only">(current)</span></a>
      </li>
      {% url 'home' as home %}
      {% url 'about' as about %}
      {% url 'contact' as contact %}
      <li {% if request.path == home %}class="active" {% endif %}>
        <a class="nav-link" href="{% url 'home' %}">Home</a></li>
        <li {% if request.path == about %}class="active" {% endif %}>
        <a class="nav-link" href="{% url 'about' %}" aria-disabled="true">About</a></li>
        <li {% if request.path == contact %}class="active" {% endif %}>
        <a class="nav-link" href="{% url 'contact' %}" aria-disabled="true">Contact</a></li>
      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown08" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Accounts</a>
        <div class="dropdown-menu" aria-labelledby="dropdown08">
        {% if not request.user.is_authenticated %}
          <a class="dropdown-item" href="{% url 'account_login' %}">Login</a>
          <a class="dropdown-item" href="{% url 'account_signup' %}">Sign Up</a>
        {% else %}
          <a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a>
        {% endif %}
        </div>
      </li>
      
    </ul>
  </div>
</nav>
